p
  | There are no resources to download for this lesson.
    You can print the lesson plan you’ll need to teach this lesson.

p = link_to("Print lesson plan", print_teachers_lesson_path(lesson: lesson, auto_print: true), target: "_blank", class: 'govuk-button')
