- back_button teachers_home_path

.govuk-grid-row
  .govuk-grid-column-two-thirds
    section.govuk-splash
      h1.govuk-heading-l How the service works
      markdown:
        Access curriculum resources is a service for teachers. It enables them to
        access their school’s curriculum online, including all the lesson plans,
        resources, and subject knowledge they will need to teach it.

        The Department for Education has collaborated with educational experts to
        create a service that aims to give all students access to a high-quality
        curriculum and to reduce teacher workload, with all teaching materials
        available to download or print from the service.

        The curriculum programmes available through this service are rooted in the
        traditions of subject disciplines and embrace learnings from cognitive science.
        Units of work have been coherently sequenced to ensure students gain specific
        knowledge that can be remembered in detail.



      / FIXME hard coding the link to the first ccp here for demonstration
      / purposes and until we're settled on how years and ccps are associated
      = link_to teachers_complete_curriculum_programmes_path, class: %i(govuk-button govuk-button--start)
        | Continue
        = govuk_chevron "#1d70b8"

      = image_tag \
          asset_pack_path('media/images/dfe-logo.png'),
          width: '125px',
          alt: 'Department for Education'
