$lesson-part-blue: #f0f9ff;
$lesson-part-dark-blue: darken($lesson-part-blue, 15%);

.lesson-tab {
  @include govuk-media-query($from: tablet) {
    border: 1px solid $lesson-part-dark-blue;
    background-color: $lesson-part-blue;
  }
}

.lesson-parts {
  align-items: center;

  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  margin: 1rem 0 1.5rem;

  .lesson-part {
    background-color: govuk-colour('white');
    border-radius: 5px;

    @supports (display: grid) {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 2fr 8fr 2fr;
    }

    // grid will take priority and fall back to
    // flex for older browsers (lookin' at you, IE11)
    display: flex;
    flex-direction: row;
    flex-flow: column-wrap;

    .counter {
      font-size: 4rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-shrink: 0;
    }

    .teaching-methods {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-shrink: 0;
      flex-basis: 150px;
      padding-top: 0.4rem;

      .teaching-method {
        margin: inherit inherit 0.5rem 0;

        .activity-icon {
          width: 70px;
          height: 70px;
          display: inline;
        }

        .activity-name {
          text-align: center;
          padding: 0;
          margin: 0;
          @include govuk-font($size: 14);
        }
      }
    }

    .lesson-name-and-description > header {
      margin-top: 1rem;
    }

    .duration {
      margin-top: 1rem;
    }

    .alternatives {
      padding: 1rem;

      display: flex;
      flex-direction: column;

      .alternatives-list {
        flex-grow: 1;
      }
    }

    .no-alternatives {
      padding: 1rem;
    }
  }

  // when the screen is *narrower* than tablet
  @include govuk-media-query($until: tablet) {
    .lesson-part {
      border-radius: 0;
      padding: 1rem 0 1.5rem;
      border-bottom: 1px solid govuk-colour("mid-grey");

      // two columns
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;

      .counter {
        justify-content: flex-start;
      }

      .teaching-methods {
        flex-direction: row;
        justify-content: flex-end;

        .teaching-method {
          &:not(:first-child) {
            margin-left: 0.5rem;
            margin-bottom: 0;

            .activity-name {
              @include govuk-font($size: 14);
            }
          }
        }
      }

      // make the article - the part that includes the name and
      // description - span the entire width of two columns
      article,
      .alternatives {
        grid-column: 1 / span 2;
      }
    }
  }

  // when the screen is *wider* than tablet
  @include govuk-media-query($from: tablet) {
    .lesson-part {
      .counter {
        border-left: 8px solid $lesson-part-dark-blue;
        padding-left: 2rem;
      }

      .teaching-method {
        &:not(:first-child) {
          margin-left: 0;
          margin-top: 1rem;

          .activity-name {
            @include govuk-font($size: 14);
          }
        }
      }
    }
  }
}

.button-number-prefix {
  font-weight: bold;
  margin-right: 0.2rem;
}

.lesson-tabs {
  .govuk-tabs__list-item.govuk-tabs__list-item--selected {
    background-color: $lesson-part-blue;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;

    li {
      &::marker {
        font-weight: bold;
      }
    }
  }
}

.resource-badge {
  margin-left: 0.3rem;
  border: 1px solid govuk-colour("dark-blue");
  padding: 0.1rem;
  background-color: govuk-colour("white");
  font-size: 16px;
  color: govuk-colour("dark-blue");
  text-transform: none;
}
