// units table
.units {
  margin-bottom: 4rem;

  th {
    text-align: left;
  }

  thead > tr > th {
    &.lesson-number {
      width: 5rem;
      overflow-wrap: break-word;
    }

    text-align: left;
  }

  tbody {
    .big-number {
      font-size: 2.5rem;
      color: govuk-colour('dark-grey');
      text-align: center;
    }

    td {
      vertical-align: middle;
    }
  }
}

// sibling unit nav
nav {
  &.siblings {
    ol {
      list-style: none;
      @extend %govuk-body-s;

      li {
        margin: 0;

        a,
        &.current {
          display: block;
          padding: 1rem 0 1rem 1rem;
        }

        a {
          display: block;
          border-left: 5px solid transparent;
          text-decoration: none;

          &:hover {
            border-left: 5px solid govuk-tint(govuk-colour('blue'), 15);
          }

          &:visited {
            color: $govuk-link-colour;
          }
        }

        &.current {
          color: $govuk-link-colour;
          font-weight: bold;
          border-left: 5px solid govuk-colour('blue');
          background-color: govuk-colour('light-grey');
        }
      }
    }
  }
}
