// used for numbering sequences of units in a ccp, lessons
// in a unit, etc
.big-number {
  @include govuk-font($size: 48, $weight: bold);
  font-size: 4rem;
  color: govuk-shade(govuk-colour('dark-grey'), 10);
  text-align: center;
  padding: 0 0.5rem;
  vertical-align: middle;
}

.govuk-tag__grey {
  background-color: govuk-colour('dark-grey');
}
