h1.govuk-heading-l
  | You need an invitation to use the curriculum materials service
  
p If have an invite, follow the link in your invitation email.

p Contact us if you haven't been invited or the link isn't working.

p #{mail_to('curriculum-materials@digital.education.gov.uk')}
